body {
  background: -webkit-gradient(linear, left top, left bottom, from(#28284b), to(#1b1b28)) fixed;
  background: linear-gradient(180deg, #28284b, #1b1b28) fixed;
  background-attachment: fixed;
  font-family: Trebuchet MS;
  font-size: 16px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.main-title {
  height: 100%;
  width: 100%;
  padding: 0px;
  text-align: center;
  margin: 25px 0 10px;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 260px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #29294d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar ul {
  list-style-type: none;
  padding: 0px;
}

#navbar ul:last-child {
  border-bottom: 2px dashed #48487a;
}

#navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px dashed #48487a;
  width: 100%;
  height: 48px;
  text-indent: 30px;
  font-size: 19px;
}

.nav-li {
  color: LightGrey;
}

.nav-li:hover {
  -webkit-transition: 180ms;
  transition: 180ms;
  background-color: rgba(250, 250, 209, 0.12);
}

.nav-li__link {
  position: relative;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 11px;
  color: #ffa26c;
}

.nav-li__link:hover {
  -webkit-transition: 180ms;
  transition: 180ms;
  color: #ff5e00;
  margin-left: 10px;
}

#main-doc {
  margin: -10px 40px 0px 300px;
}

#main-doc ul {
  margin: 0px 0px 25px 20px;
  list-style-type: square;
}

#main-doc li {
  margin: 20px 0px -5px 0px;
  font-weight: bold;
}

.main-section {
  margin: 50px 35px;
  padding: 30px 35px;
  background-color: #28284b;
  border: 2px dashed #48487a;
}

h2 {
  color: #ffa26c;
  margin: 0px 0px 15px 0px;
}

p {
  margin: 6px 0px 6px 25px;
  text-indent: 15px;
  line-height: 24px;
  color: LightGrey;
  text-align: justify;
}

code {
  color: #e0721d;
  font-weight: bold;
  background-color: #1b1b32;
}

hr {
  border: 1px solid #48487a;
}

.center--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.center--margin {
  float: none;
  margin: 15px auto 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  margin: 50px 35px 0px;
  background-color: #28284b;
  color: darkgray;
  border-radius: 20px 20px 0px 0px;
}

/*
media formatting
*/
figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  margin: 2px 0px 2px 10px;
  background-color: rgba(72, 72, 122, 0.5);
  border-radius: 20px 0;
}

figcaption {
  font-weight: normal;
  font-size: 13px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 0px;
  color: DarkGrey;
}

.media {
  width: 450px;
  max-width: 100%;
  margin: 15px auto;
  padding: 8px 8px 0 8px;
  background-color: rgba(72, 72, 122, 0.5);
  border-radius: 20px 0px;
  text-align: center;
  color: DarkGrey;
  font-size: 14px;
  font-style: italic;
  line-height: 2.8em;
}

.media img, .media video {
  display: block;
  width: 100%;
  border-top-left-radius: 20px;
}

.media span {
  margin: 0px;
  padding: 0px;
}

img {
  border-top-left-radius: 20px;
  max-width: 100%;
}

.img-resources-SFV {
  width: 270px;
}

.img-normals-specials-movelist {
  width: 580px;
}

.img-properties-armor {
  width: 200px;
}

.img-supers-seven_bars {
  width: 220px;
}

.supers-tien_lvl7 {
  border-radius: 20px 0px;
  padding-bottom: 8px;
  width: 600px;
}

/*
  media query for mobile
*/
@media (max-width: 460px) {
  body {
    padding: 0px;
  }
  .main-title {
    margin: 15px 0;
    font-size: 25px;
  }
  nav {
    margin: 0px;
    padding: 0px;
  }
  #navbar {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    height: auto;
    width: 100%;
    font-size: 25px;
    padding: 0px;
  }
  #navbar ul {
    padding: 0px;
    margin: 0px 22px 22px;
    height: 105px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    border-top: 2px dashed #48487a;
  }
  #navbar ul:last-child {
    border-bottom: 2px dashed #48487a;
  }
  #navbar li {
    text-indent: -8px;
    height: 37px;
    font-size: 20px;
    border-top: 2px dashed #48487a;
  }
  #navbar li:first-child {
    border-top: none;
  }
  #main-doc {
    margin: 0px;
  }
  #main-doc ul {
    margin: 16px 0px;
  }
  #main-doc li {
    line-height: 30px;
    margin: 20px -5px -3px;
  }
  .main-section {
    margin: 30px 5px;
    padding: 10px 5px;
    font-size: 18px;
    border: 2px dashed #48487a;
  }
  h2 {
    font-size: 25px;
    margin: 15px 15px;
  }
  p {
    margin: 10px 16px;
    text-indent: 15px;
    line-height: 28px;
    text-align: left;
  }
  hr {
    border: 1px solid #48487a;
  }
  footer {
    font-size: 18px;
    height: 3em;
    margin: 50px 0px 0px;
    border-radius: 20px 20px 0px 0px;
  }
  /*
  media formatting
  */
  figure {
    width: 95%;
    padding: 8px;
    margin: 10px auto 20px;
  }
  figure img {
    width: 100%;
  }
  figcaption {
    font-size: 16px;
    margin: 10px 0px 4px;
    padding: 0px;
  }
  .media {
    width: 90%;
    margin: 10px auto;
    padding: 6px 6px 0;
    background-color: rgba(72, 72, 122, 0.5);
    border-radius: 20px 0px;
    font-size: 14px;
    font-style: italic;
    line-height: 3em;
  }
  .media img, .media video {
    display: block;
    width: 100%;
    border-top-left-radius: 20px;
  }
  .media span {
    font-size: 17px;
    margin: 2px;
    padding: 0px;
  }
  .img-resources-SFV {
    width: auto;
  }
  .img-normals-specials-movelist {
    width: auto;
  }
  .img-properties-armor {
    width: auto;
  }
  .img-supers-seven_bars {
    width: auto;
  }
  .hide {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 830px) {
  body {
    font-size: 13px;
  }
  .main-title {
    font-size: 18px;
    height: auto;
    margin: 0;
    padding: 15px 0;
  }
  #navbar {
    width: 155px;
    height: 100%;
  }
  #navbar ul {
    padding: 0px;
    margin: 0;
    height: 80%;
    overflow-y: scroll;
    max-height: 343.8px;
    border-width: 0px;
  }
  #navbar li {
    height: 36px;
    text-indent: 0px;
    font-size: 14px;
  }
  #main-doc {
    margin: -10px 0px 0px 155px;
  }
  #main-doc ul {
    margin: 0px 0px 10px;
    padding-left: 26px;
    list-style-type: square;
  }
  #main-doc li {
    margin: 20px 0px -5px 0px;
    font-weight: bold;
  }
  .main-section {
    margin: 40px 25px;
    padding: 25px 30px;
  }
  h2 {
    margin: 0px 0px 10px 0px;
  }
  p {
    margin: 6px;
    text-indent: 15px;
    line-height: 22px;
    text-align: left;
  }
  .img-resources-SFV {
    width: 200px;
  }
  .hide {
    display: none;
  }
  footer {
    margin-top: 25px;
  }
}
/*# sourceMappingURL=style.css.map */